sqlalchemy~=2.0.31
fastapi~=0.111.0
httpx[http2]~=0.25.0
asyncpg~=0.28.0
pydantic~=2.7.0
Faker==19.10.0
uvicorn~=0.23.2
pytest~=8.2.1
alembic~=1.12.1
pytz~=2023.3
pytest_asyncio~=0.23.7
python-dotenv~=1.0.1